body{

    display: flex;
    justify-content: center;
    align-items: center;

}

div{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(orange, white, green);
    border: 3px black solid;
    
}

